@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
    --sidebar-width: 250px;
    --sidebar-bg: #161615;
    --sidebar-text: #A1A09A;
    --sidebar-hover: #3E3E3A;
    --sidebar-active: #FF4433;
}
